@import "tailwindcss";

@font-face {
  font-family: 'Coolvetica';
  src: url('/Coolvetica Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/Coolvetica Rg It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

:root {
  font-family: system-ui, Roboto;
  line-height: 1.5;

  background-color: #151515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-thin-text {
  font-weight: 100 !important;
}